$default-font: 'Mont-Regular', normal;
$default-font2: 'Mont-SemiBold', normal;

$background: #2d375e;

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 576px) {
}

.tablet {
}

.mobile {
}
