.content
  .section.section_top
    .section_top__border_top
    .section_top__text_wrapper
      .section__title щасливе майбутнє вже поряд! 
      .section_top__text Раді Вам повідомити, що ми відновлюємо зведення проекту сіті-центру BOGUN після вимушеної тривалої паузи.
    .section_top__image 
      img(src="./assets/images/section_1.png", alt="buildings")
    .section_top__border_bottom
    .section_top__button.button 
      button 
        span.arrow 
          img(src="./assets/images/arrow_down.png", alt="arrow")
        span.text Дізнатися більше  
  .section.section_second
    .section_second__image 
      img(src="./assets/images/section_2.png", alt="yard")
    .section_second__text_wrapper 
      .section_second__title.section__title У нас багато хороших новин!  
      .section_second__news 
        .section_second__item 
        .section_second__item
        .section_second__item
        .section_second__item
        
    