.content
  .section
    .section__border_top
    .section__title щасливе майбутнє вже поряд! 
    .section__image 
      img(src="./assets/images/section_1.png", alt="buildings")
    .section__border_bottom
