.content
  .section.section_top
    .section_top__border_top
    .section_top__text_wrapper
      .section__title щасливе майбутнє вже поряд! 
      .section_top__text Раді Вам повідомити, що ми відновлюємо зведення проекту сіті-центру BOGUN після вимушеної тривалої паузи.
    .section_top__image 
      img(src="./assets/images/section_1.png", alt="buildings")
    .section_top__border_bottom
    .section_top__button.button 
      button 
        span.arrow 
          img(src="./assets/images/arrow_down.png", alt="arrow")
        span.text Дізнатися більше  
  .section.section_second
    .section_second__image 
      img(src="./assets/images/section_2.png", alt="yard")
    .section_second__text_wrapper 
      .section_second__title.section__title У нас багато хороших новин!  
      .section_second__news 
        .section_second__item 
          <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M67.7819 83.7375C67.6819 83.7375 67.5819 83.7375 67.4819 83.6375L42.1819 75.2375L16.8819 83.6375C16.4819 83.7375 16.0819 83.6375 15.7819 83.3375C15.4819 83.0375 15.3819 82.6375 15.4819 82.2375L22.3819 61.5375L1.58187 68.4375C1.18187 68.5375 0.781868 68.4375 0.481868 68.1375C0.181868 67.8375 0.0818806 67.4375 0.181881 67.0375L8.58187 41.8375L0.181881 16.6375C0.0818806 16.2375 0.181868 15.8375 0.481868 15.5375C0.781868 15.2375 1.18187 15.1375 1.58187 15.2375L22.3819 22.1375L15.4819 1.4375C15.3819 1.0375 15.4819 0.6375 15.7819 0.3375C16.0819 0.0375 16.4819 -0.0625 16.8819 0.0375L42.1819 8.4375L67.4819 0.0375C67.8819 -0.0625 68.2819 0.0375 68.5819 0.3375C68.8819 0.6375 68.9819 1.0375 68.8819 1.4375L61.9819 22.1375L82.7819 15.2375C83.1819 15.1375 83.5819 15.2375 83.8819 15.5375C84.1819 15.8375 84.2819 16.2375 84.1819 16.6375L75.7819 41.8375L84.0819 67.1375C84.1819 67.5375 84.0819 67.9375 83.7819 68.2375C83.4819 68.5375 83.0819 68.6375 82.6819 68.5375L61.8819 61.6375L68.7819 82.3375C68.8819 82.7375 68.7819 83.1375 68.4819 83.4375C68.3819 83.6375 68.0819 83.7375 67.7819 83.7375ZM45.4819 74.1375L66.1819 81.0375L62.0819 68.6375L45.4819 74.1375ZM22.2819 68.6375L18.1819 81.0375L38.8819 74.1375L22.2819 68.6375ZM22.9819 66.6375L42.1819 73.0375L61.3819 66.6375L59.3819 60.7375L42.1819 55.0375L24.9819 60.7375L22.9819 66.6375ZM9.78189 45.2375L2.88186 65.8375L15.2819 61.7375L9.78189 45.2375ZM68.9819 61.7375L81.3819 65.8375L74.4819 45.2375L68.9819 61.7375ZM10.9819 41.9375L17.3819 61.0375L23.2819 59.0375L28.9819 41.8375L23.2819 24.6375L17.3819 22.6375L10.9819 41.9375ZM61.0819 59.1375L66.9819 61.1375L73.3819 42.0375L66.9819 22.9375L61.0819 24.9375L55.3819 42.1375L61.0819 59.1375ZM45.4819 53.9375L58.5819 58.2375L54.1819 45.2375L53.5819 47.0375C53.4819 47.3375 53.1819 47.6375 52.7819 47.7375C52.3819 47.8375 52.0819 47.7375 51.7819 47.4375L47.7819 43.4375L45.6819 45.5375L43.5819 47.6375L47.5819 51.6375C47.8819 51.9375 47.9819 52.2375 47.8819 52.6375C47.7819 53.0375 47.5819 53.2375 47.1819 53.4375L45.4819 53.9375ZM30.0819 45.2375L25.6819 58.2375L38.7819 53.9375L36.9819 53.3375C36.6819 53.2375 36.3819 52.9375 36.2819 52.5375C36.1819 52.1375 36.2819 51.8375 36.5819 51.5375L40.5819 47.5375L36.3819 43.3375L32.3819 47.3375C32.0819 47.6375 31.7819 47.7375 31.3819 47.6375C30.9819 47.5375 30.7819 47.3375 30.5819 46.9375L30.0819 45.2375ZM39.3819 51.8375L42.1819 52.7375L44.9819 51.8375L42.1819 49.0375L39.3819 51.8375ZM37.9819 41.9375L40.0819 44.0375L42.1819 46.1375L46.3819 41.9375L42.1819 37.7375L40.0819 39.8375L37.9819 41.9375ZM31.1819 41.9375L32.0819 44.7375L34.8819 41.9375L32.0819 39.1375L31.1819 41.9375ZM49.3819 41.9375L52.1819 44.7375L53.0819 41.9375L52.1819 39.1375L49.3819 41.9375ZM31.6819 36.1375C31.9819 36.1375 32.1819 36.2375 32.3819 36.4375L36.3819 40.4375L40.5819 36.2375L36.5819 32.2375C36.2819 31.9375 36.1819 31.6375 36.2819 31.2375C36.3819 30.8375 36.5819 30.6375 36.9819 30.4375L38.7819 29.8375L25.6819 25.5375L30.0819 38.5375L30.6819 36.7375C30.7819 36.4375 31.0819 36.1375 31.4819 36.0375C31.5819 36.1375 31.5819 36.1375 31.6819 36.1375ZM45.7819 38.3375L47.8819 40.4375L51.8819 36.4375C52.1819 36.1375 52.4819 36.0375 52.8819 36.1375C53.2819 36.2375 53.4819 36.4375 53.6819 36.8375L54.2819 38.6375L58.6819 25.6375L45.5819 29.9375L47.3819 30.5375C47.6819 30.6375 47.9819 30.9375 48.0819 31.3375C48.1819 31.7375 48.0819 32.0375 47.7819 32.3375L43.7819 36.3375L45.7819 38.3375ZM2.98187 18.0375L9.88186 38.6375L15.3819 22.1375L2.98187 18.0375ZM68.9819 22.1375L74.4819 38.6375L81.3819 18.0375L68.9819 22.1375ZM39.3819 31.9375L42.1819 34.7375L44.9819 31.9375L42.1819 31.0375L39.3819 31.9375ZM24.8819 23.1375L42.0819 28.8375L59.2819 23.1375L61.2819 17.2375L42.0819 10.8375L22.8819 17.2375L24.8819 23.1375ZM45.4819 9.7375L61.9819 15.2375L66.0819 2.8375L45.4819 9.7375ZM18.1819 2.8375L22.2819 15.2375L38.7819 9.7375L18.1819 2.8375Z" fill="$grey"/>
          </svg>
        .section_second__item
        .section_second__item
        .section_second__item
        
    