.content
  .section
    .section__border_top
    .section__text_wrapper
      .section__title щасливе майбутнє вже поряд! 
      .section__text Раді Вам повідомити, що ми відновлюємо зведення проекту сіті-центру BOGUN після вимушеної тривалої паузи.
    .section__image 
      img(src="./assets/images/section_1.png", alt="buildings")
    .section__border_bottom
    .section__button 
      button 
        span.arrow 
          img(src="./assets/images/arrow_down.png")
