
extends ../layout/main
block variable

block meta
  title= 'BOGUN CITY'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  block header
  include ../includes/header.pug
block content
  
block footer
  include ../includes/footer.pug


