.header {
  &__button {
    button {
      width: 204px;
      height: 48px;
    }
  }
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  &__border_top {
    position: absolute;
    left: -$content_padding;
    right: -$content_padding;
    height: 1px;
    background-color: rgba(246, 246, 246, 0.2);
  }
  &__text_wrapper {
    margin-top: 140px;
    width: 28%;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
    color: $pink;
  }
  &__text {
    max-width: 360px;
  }
  &__image {
    width: 72%;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__border_bottom {
    position: absolute;
    left: -$content_padding;
    right: -$content_padding;
    bottom: 0;
    height: 1px;
    background-color: rgba(246, 246, 246, 0.2);
  }
}
